PORT=8000
DB_HOST=localhost
DB_PORT=5433
DB_NAME=insightflow
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=ml_service_db
KAFKA_BOOTSTRAP=localhost:9092
KAFKA_GROUP_ID=ml-service-group
MODEL_STORAGE_PATH=./models
MIN_DATA_POINTS=30
